:root {
    --primary: #323232;
    --secondary: #4FB9BB;
    --tertiary: #E8EAF0;
    --white: #FFFFFF;
    --montserrat: 'Montserrat', sans-serif;
    --mulish: 'Mulish', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fs-14: 14px;
    --fs-20: 20px;
}